.idea
.vscode
dev
issues
coverage
/dist
/types

# dependencies
node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# lock files
package-lock.json
yarn.lock

# vitepress
cache
docs/*/dist

# System files
.DS_Store
Thumbs.db
